* {
    font-family: Arial;
}

h1 {
    font-size: 20px;
    padding: 0;
    margin: 0 0 10px 0;
}

#PageWrapper {
    width: 844px;
    margin: auto;
}

nav {
    width: 844px;
}

/* Main Content Region */
section#MainContent {
    width: 664px;
    float: left;
}
    section#MainContent a {
        color: #4cff00;
        text-decoration: underline;
    }
        section#MainContent a:visited {
            color: #ff0000;
            text-decoration: underline;
        }
        section#MainContent a:hover {
            color: #ffa500;
            text-decoration: underline;
        }
/* end Main Content Region */


aside {
    width: 180px;
    float: right;
    background-color: gray;
}

footer {
    background-color: #c0c0c0;
    width: 844px;
    clear: both;
}

header {
    background-color: #c0c0c0;
    width: 844px;
    height: 86px;
}
